[submodule "decomp/pokeemerald"]
	path = decomp/pokeemerald
	url = https://github.com/pret/pokeemerald.git
[submodule "decomp/pokefirered"]
	path = decomp/pokefirered
	url = https://github.com/pret/pokefirered.git
[submodule "decomp/pokeheartgold"]
	path = decomp/pokeheartgold
	url = https://github.com/pret/pokeheartgold.git
[submodule "decomp/pokeplatinum"]
	path = decomp/pokeplatinum
	url = https://github.com/pret/pokeplatinum.git
[submodule "decomp/pokered"]
	path = decomp/pokered
	url = https://github.com/pret/pokered
[submodule "decomp/pokecrystal"]
	path = decomp/pokecrystal
	url = https://github.com/pret/pokecrystal
[submodule "decomp/pokestadium"]
	path = decomp/pokestadium
	url = https://github.com/pret/pokestadium
[submodule "decomp/pokeyellow"]
	path = decomp/pokeyellow
	url = https://github.com/pret/pokeyellow
[submodule "decomp/pokeemerald-expansion"]
	path = decomp/pokeemerald-expansion
	url = https://github.com/rh-hideout/pokeemerald-expansion
